{{!-- menu completed --}}

<h1 style="text-align: center;">Menu</h1>
<h3 id="cart">Cart({{itemCount}})</h3>

<div class="row row-cols-1 row-cols-md-3 g-4">

    {{#each products}}

    <div class="col">
        <div class="card h-100">
            {{!-- <img class=" card-img-top" src="{{image}}" alt="Image Not Found"> --}}
            <div class="card-body">
                <h5 class="card-title">{{name}}</h5>
                <p class="card-text">{{description}}</p>

                <button class="btn btn-primary" type="button" onclick="addItem({{id}}, {{itemCount}})">Add To
                    Cart</button>
            </div>
            <div class="card-footer">
                <small class="text-muted">{{category}}</small>
            </div>

        </div>
    </div>
    {{/each}}
</div>

<!-- Custom Pizza Builder Section -->
<div id="customPizzaBuilder">
    <h3>Build Your Own Pizza</h3>
    <div id="customizationOptions">
        <!-- Customization options will be populated here -->
    </div>
    <button id="addCustomPizza" class="btn btn-primary">Add Custom Pizza to Cart</button>
</div>
<script src="routes/customPizza.js"></script>