{{!-- menu completed --}}

<h1 style="text-align: center;">Menu</h1>
<a href="/cartSummary" id="cart" style="font-size: 2em;">View Cart ({{itemCount}})</a>

<div class="row row-cols-1 row-cols-md-3 g-4">

    {{#each products}}

    <div class="col">
        <div class="card h-100">
            {{!-- <img class=" card-img-top" src="{{image}}" alt="Image Not Found"> --}}
            <div class="card-body">
                <h5 class="card-title">{{name}}</h5>
                <p class="card-text">{{description}}</p>

                <label for="howMany{{id}}">Amount:</label>
                <select class="select" name="howMany{{id}}" id="howMany{{id}}"
                    style="width: 5em; text-align: center; margin-left: 1em">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                </select>
                <button class="btn btn-primary" type="button" onclick="addItem({{id}}, {{itemCount}})"
                    style="float: right;">Add To
                    Cart</button>
            </div>
            <div class="card-footer">
                <small class="text-muted">{{category}}</small>
            </div>

        </div>
    </div>
    {{/each}}
</div>

<!-- Custom Pizza Builder Section -->
<div id="customPizzaBuilder">
    <h3>Build Your Own Pizza</h3>
    {{#each toppings}}
    <div id="customizationOptions">

        <input type="checkbox" id="checkbox{{id}}" name="checkbox" value="{{name}}">
        <label for="checkbox{{id}}">{{name}}</label>

    </div>
    {{/each}}
    <button id="addCustomPizza" class="btn btn-primary" onclick="addCustomPizzaToCart()">Add Custom Pizza to
        Cart</button>
</div>